<div class = "card friendcard">
    <div class = "card-content black-text">
        <div>
            <div class = "left">
                <span class = "card-title col s8 ffullname">{{friend.fullname}}</span>
                <span class="fusername"> <small>@{{friend.username}}</small></span><br/>
                <p class="forg">{{friend.org}}</p>
            </div>
            <div class = "rating right frating">
                <h1 class="grey-text">{{friend.rating}}</h1>
            </div> 
        </div>
        <div class="clearfix"></div>
    </div>
</div> 