{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <div class="card-panel">
                <a class="btn-floating btn-large waves-effect waves-light red updateButton"><i class="material-icons">autorenew</i></a>
                <div class="col s10 m5 testp">
                    <span>Ranking :5864 </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='test.js') }}"></script>
{% endblock %}